APP_NAME=Passive Shelter API
APP_VERSION=1.0.0
DEBUG=true
ALLOWED_ORIGINS=http://localhost:5173
WEATHER_API_KEY=afd27fb8ce54eba4f6b45fac630a5730
WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5
WEATHER_TIMEOUT_SECONDS=5
